---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About - Finance for You">
  <section class="about">
    <h1>About Finance for You</h1>
    <p>Our mission is to provide simple tools that empower you to manage your finances effectively and build healthy habits.</p>
    <p>We believe that budgeting, saving, and planning should be accessible to everyone. Our digital downloads are designed to help you take control of your financial journey and develop habits that last.</p>
  </section>
</Layout>
